section.section-about
    .container
        .section-about__inner
            .section-title О КОМПАНИИ
            .section-about__inner-content
                .section-about__inner-content-text
                    p.
                        ООО КАТ – мы поставляем только оригинальные запчасти на
                        спецтехнику CATERPILLAR. Выполняем качественное сервисное
                        обслуживание, диагностику и ремонт техники на оригинальных
                        компонентах.
                        <br>
                        <br>
                        Большой опыт работы помогает нам справляться с предсказуемыми
                        проблемами до того, как они возникнут. Наши специалисты помогут
                        Вам с выбором и проконсультируют по всем интересующим вопросам
                        на любом этапе.
                    p.
                        Наш приоритет – стабильное обеспечение заказчика необходимыми
                        материалами и техническим сопровождением по выгодным ценам,
                        для этого мы всегда контролируем качество работ и
                        предоставляемых товаров и услуг.
                .section-about__inner-content-details
                    .details__title ТЫСЯЧИ ЗАПЧАСТЕЙ НА СКЛАДАХ ПО ЦЕНАМ НИЖЕ, ЧЕМ У ДИЛЕРА
                    .details__addresses
                        .h5-title Склады
                        .details__addresses-block
                            .details__addresses-block-title Москва
                            p.
                                Московская область, Одинцовский городской округ,
                                рабочий поселок Новоивановское, Можайское шоссе,
                                дом 165, строение 1, этаж 1, павильон № 29
                        .details__addresses-block
                            .details__addresses-block-title Санкт-Петербург
                            p г.п Павлово, переулок Горский, д.12


