section.section-hero
    .container
        .section-hero__inner
            h1.
                Широкий ассортимент <span>оригинальных запчастей</span>
                на технику caterpillar
            p.
                Всегда высокое качество сервиса от компании КАТ - бесперебойная работа вашей техники Caterpillar

            a(href="javascript:void(0)").btn.btn--brand В каталог
    .section-hero__slider
        .swiper-nav.swiper-nav--gray
            button.button-prev
            button.button-next
        .swiper
            .swiper-wrapper
                .swiper-slide
                    +img("main-image.png")
                .swiper-slide
                    +img("main-image.png")
                .swiper-slide
                    +img("main-image.png")
            .swiper-pagination
