section.section-advantages
    .container
        .section-advantages__inner
            .section-title <span>ОСНОВНЫЕ ПРЕИМУЩЕСТВА</span> НАШЕГО СЕРВИСА
            .section-advantages__inner-items
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-1.svg
                    .section-advantages__inner-item-text
                        .h3-title ОПЫТ И КАЧЕСТВО ОБСЛУЖИВАНИЯ
                        p.
                            Обращаясь к нам в сервисный центр, вы
                            получите качественное обслуживание на
                            оригинальных компонентах. Наши опытные
                            специалисты сделают качественную дефектовку
                            с AFA инспекцией
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-2.svg
                    .section-advantages__inner-item-text
                        .h3-title ДОСТУПНОСТЬ ЗАПЧАСТЕЙ
                        p.
                            Мы имеем широкий ассортимент запасных частей
                            на складе и можем быстро и качественно предоставить
                            их нашим клиентам
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-3.svg
                    .section-advantages__inner-item-text
                        .h3-title ШИРОКИЙ СПЕКТР УСЛУГ
                        p.
                            Предлагаем полный спектр услуг, включая техническое
                            обслуживание, ремонт, обучение операторов и т.д.
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-4.svg
                    .section-advantages__inner-item-text
                        .h3-title ПРОФЕССИОНАЛЬНЫЕ СПЕЦИАЛИСТЫ
                        p.
                            Специалисты ООО КАТ проходят обучение в компании
                            Caterpillar и имеют высокую квалификацию
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-5.svg
                    .section-advantages__inner-item-text
                        .h3-title ГАРАНТИИ
                        p.
                            Компания предоставляет гарантию на все работы
                            и установленные запчасти
                .section-advantages__inner-item
                    .section-advantages__inner-item-icon
                        include ../../icons/icon_advantages-6.svg
                    .section-advantages__inner-item-text
                        .h3-title КОНТРОЛЬ КАЧЕСТВА
                        p.
                            Наша Компания соответствует стандарту системы
                            менеджмента качества ISO 9001,что гарантирует
                            высокое качество обслуживания техники.