section.section-faq
    .container
        .section-faq__inner
            .section-title Часто задаваемые вопросы
            .section-faq__inner-items
                -
                    var faqItemsTitles = [
                        "Из чего складывается стоимость",
                        "Детали какой техники в наличии?",
                        "Какие для меня есть скидки?",
                        "Большой ли у Вас ассортимент?",
                        "Можно ли заказать доставку в другой город?",
                        "Где вы находитесь, как можно посмотреть лично?",
                        "Как можно оплатить услуги?"
                    ]

                each title in faqItemsTitles
                    .faq-item(data-showdown)
                        .faq-item__title.h4-title(data-trigger)= title
                        .faq-item__content
                            p.
                                Наш приоритет – стабильное обеспечение
                                заказчика необходимыми материалами и техническим
                                сопровождением по выгодным ценам, поэтому наши
                                цены ниже, чем у дилера.
                                <br>
                                <br>
                                По всем ценам Вас сориентирует наш менеджер.
