section.section-news
    .container
        .section-news__inner
            .section-title НОВОСТНОЙ БЛОГ
            .section-news__button
                a(href="javascript:void(0)").btn.btn--brand Все новости
            .section-news__slider
                .swiper
                    .swiper-wrapper
                        -
                            var newsItems = [
                                {
                                    title: "Почему нужно использовать оригинальные фильтры",
                                    text: "Часто клиенты хотят сэкономить несколько тысяч рублей на фильтрах для ТО и покупают неоригинальные компоненты, что в дальнейшем может негативно сказываться на узлах и агрегатах и привести к дорогостоящим ремонтам."
                                },
                                {
                                    title: "Почему нужно использовать оригинальные фильтры",
                                    text: "Надежность и долговечность – эти качества отличают не только оборудование Cat®, но и оригинальные запасные части, которые создаются на тех же заводах, проходят те же тесты контроля качества, что и техника производства Caterpillar®."
                                },
                                {
                                    title: "Почему нужно использовать оригинальные фильтры",
                                    text: "Машины Cat® заслуживают только самого лучшего. Вот почему их эксплуатация требует использования оригинальных запасных частей и расходных материалов Cat."
                                }
                            ]
                        include ../../components/_news-card
                        - var n = 2;
                        while n > 0
                            each item, index in newsItems
                                .swiper-slide
                                    +newsCard(item.title, item.text, index)
                            - n--;
                    .swiper-pagination