section.section-delivery
    .container
        .section-delivery__inner
            .section-delivery__inner-text
                .section-title УСЛОВИЯ ОПЛАТЫ И ДОСТАВКИ
                p Оплата картой на сайте
                p Оплата при получении – безналичный и наличный расчёт
                p Возможен самовывоз со склада в Москве или Санкт-Петербурге
                p Доставка до транспортной компании СДЭК/Деловые линии/ПЭК
            .section-delivery__inner-image
                +img('delivery-image.png')
