extends ../layout/layout

block title
    - var title = 'Корзина'
    - var page = 'page-cart'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Корзина')
    section.cart
        .container
            .cart__inner
                h1  Корзина
                .cart__inner-wrapper
                    .cart__items
                        .cart__items-top
                            .cart__items-top-count Товары в корзине: 2 шт
                            .cart__items-top-clear Очистить корзину
                        .cart__items-main
                            include ../components/_cart-item
                            include ../components/_cart-item
                    .cart__details
                        .cart__details-amount
                            .cart__details-amount-title Итого
                            .cart__details-amount-value 100 000 ₽
                        .cart__details-count
                            .cart__details-count-title Кол-во товаров
                            .cart__details-count-value 2
                        .cart__details-discount
                            .cart__details-discount-title Общая скидка
                            .cart__details-discount-value 100 000 ₽
                        .cart__details-buttons
                            a(href="order.html").btn.btn--brand Перейти к оформлению
                            a(href="catalog.html").btn.btn--black Продолжить покупки

