extends ../layout/layout

block title
    - var title = 'Контакты'
    - var page = 'page-contacts'
    - var yandexMap = true

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Контакты')
    .contacts
        .container
            .contacts__inner
                h1 КОНТАКТЫ
                .contacts__items
                    .contacts__item
                        .contacts__item-top
                            a(href="tel:74959891123") +7 (495) 989-11-23
                            noindex
                                a(href="javascript:void(0)" rel="nofollow")
                                    include ../icons/icon_telegram.svg
                        p Обратный звонок
                    .contacts__item
                        .contacts__item-top
                            a(href="tel:79362942463") +7 (936) 294-24-63
                            noindex
                                a(href="javascript:void(0)" rel="nofollow")
                                    include ../icons/icon_whatsapp.svg
                        p Менеджер
                    .contacts__item
                        .contacts__item-top
                            a(href="tel:79362942643") +7 (936) 294-26-43
                            noindex
                                a(href="javascript:void(0)" rel="nofollow")
                                    include ../icons/icon_whatsapp.svg
                        p Менеджер
                    .contacts__item
                        a(href="mailto:info@parts-cat.ru") info@parts-cat.ru
                        p По всем вопросам и предложениям
                    .contacts__item
                        p 8:00 - 18:00
                        p Часы работы
                include ../components/_maps-block