extends ../layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'
    - var yandexMap = true

block main
    include ../components/sections/_section-hero
    include ../components/sections/_section-products-slider
    +sectionProductsSlider('Популярные товары')
    include ../components/sections/_section-catalog
    include ../components/sections/_section-advantages
    include ../components/sections/_section-about
    include ../components/sections/_section-delivery
    include ../components/sections/_section-faq
    include ../components/sections/_section-news
    include ../components/sections/_section-contacts
    include ../components/sections/_section-feedback