extends ../layout/layout

block title
    - var title = 'Обмен и возврат'
    - var page = 'page-return'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Обмен и возврат')
    section.return
        .container
            .return__inner
                .section-title Обмен и возврат
                p.
                    Lorem ipsum dolor sit amet consectetur. Nisi vitae in id
                    viverra viverra. Erat neque tristique morbi vestibulum.
                    Rhoncus purus eros magna ac adipiscing consequat viverra morbi.
                    Nunc purus augue aliquam amet iaculis pharetra aliquet.
                    <br>
                    <br>
                    Tellus in mattis dictumst a. Rhoncus donec lectus egestas feugiat
                    at phasellus nulla. Arcu congue nam diam sed aliquam tellus. At
                    in ipsum tincidunt mollis mi tortor diam phasellus facilisis. At
                    sed ultricies ut nulla. Auctor diam enim congue at. Praesent
                    neque ut quisque eget. Malesuada vel volutpat quis cursus.
                    <br>
                    <br>
                    Sed vitae elementum at magna a eu eu neque molestie. Bibendum dictum massa arcu
                    tortor laoreet donec feugiat orci duis. Nunc dignissim senectus diam tempus et
                    feugiat. Tellus et mauris netus mus commodo tristique interdum. Ut euismod
                    ut eget faucibus morbi. Leo vulputate odio sit at vel. Diam volutpat morbi
                    aenean ut laoreet nisi. Pellentesque pellentesque ut scelerisque proin.