mixin counter(type)
    .counter(class= `counter--${type}`)
        .minus.counter__action
            include ../icons/icon_minus.svg
        input(type="number" value="0" readonly).counter__input
        .plus.counter__action
            include ../icons/icon_plus--black.svg
