.filter
    .filter__top
        .filter__top-title Фильтр
        .filter__top-close#filterClose
            include ../icons/icon_x--black.svg
    .filter__items
        .filter__item(data-showdown)
            .filter__item-title(data-trigger) Тип фильтра
            .filter__item-options
                label.custom-checkbox Воздушные
                    input(type="checkbox")
                    span
                label.custom-checkbox Салонные
                    input(type="checkbox")
                    span
                label.custom-checkbox Топливные
                    input(type="checkbox")
                    span
                label.custom-checkbox Масляные
                    input(type="checkbox")
                    span
                label.custom-checkbox Трансмиссионные
                    input(type="checkbox")
                    span
                label.custom-checkbox Гидравлические
                    input(type="checkbox")
                    span
                label.custom-checkbox Фильтры тормозной системы
                    input(type="checkbox")
                    span
                label.custom-checkbox Фильтры охлаждающей жидкости
                    input(type="checkbox")
                    span
        .filter__item(data-showdown)
            .filter__item-title(data-trigger) Бренд
            .filter__item-options
                label.custom-checkbox Бренд-1
                    input(type="checkbox")
                    span
                label.custom-checkbox Бренд-2
                    input(type="checkbox")
                    span
                label.custom-checkbox Бренд-3
                    input(type="checkbox")
                    span
                label.custom-checkbox Бренд-4
                    input(type="checkbox")
                    span
