.sidebar#sidebar
    .sidebar__inner
        .sidebar__close#sidebarClose
            include ../icons/icon-x--yellow.svg
        .sidebar__catalog
            .sidebar__catalog-title Каталог
        .sidebar__nav
            .sidebar__nav-title Сервис