.sorting-button(data-showdown)
    button(data-trigger) <span>Сортировать</span> по популярности
    .sorting-button__content
        ul
            li
                a(href="javascript:void(0)") по популярности
            li
                a(href="javascript:void(0)") по новизне
            li
                a(href="javascript:void(0)") дешевле
            li
                a(href="javascript:void(0)") дороже