
// ПОПАП ПРИ ДОБАВЛЕНИИ ТОВАРА В КОРЗИНУ
.popup-in-cart
    .popup-in-cart__inner
        .popup-in-cart__image
            +img('product-card-image.png')
        .popup-in-cart__title Товар добавлен в корзину
        .popup-in-cart__product Фильтр воздушный SEM 518-4406

// ПОПАП ОБРАТНОЙ СВЯЗИ
.popup.popup-callback#popupCallback
    .popup-callback__inner
        button(data-fancybox-close).popup-close-btn
            include ../icons/icon-x-popup-close.svg
        .popup-title ОСТАВЬТЕ НОМЕР ТЕЛЕФОНА И МЫ ПЕРЕЗВОНИМ ВАМ В ТЕЧЕНИЕ 30 МИНУТ
        .popup-callback__form
            form
                input(type="text" placeholder="Ваше имя*").input.input--white
                input(type="tel" placeholder="Телефон*" data-phone-number).input.input--white
                button(data-src="#popupSuccess" data-fancybox).btn.btn--brand Отправить
            .popup-callback__form-agree.
                Нажимая на кнопку “отправить”, вы соглашаетесь на обработку
                персональных данных и подтверждаете, что ознакомлены с
                <a>политикой конфиденциальности</a>

// ПОПАП УСПЕШНОЙ ОТПРАВКИ
.popup.popup-success#popupSuccess
    .popup-success__inner
        button(data-fancybox-close).popup-close-btn
            include ../icons/icon-x-popup-close.svg
        .icon-check
            include ../icons/icon_check--yellow-transparent.svg
        .popup-title
            p Спасибо!
            p заявка успешно отправлена



