.popup-in-cart
    .popup-in-cart__inner
        .popup-in-cart__image
            +img('product-card-image.png')
        .popup-in-cart__title Товар добавлен в корзину
        .popup-in-cart__product Фильтр воздушный SEM 518-4406
