@use "mixins" as *;
@use "variables" as *;


body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: $white;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
  background-color: $black;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

body.compensate-for-scrollbar {
  overflow: visible !important;
  padding: 0 !important;
}

main {
  min-height: calc(max(calc(100vh - 614px), 350px));
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}

section {
  position: relative;
}

li {
  list-style: none;
}

#overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition;

  &.show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 500;
    opacity: 0.4;
    background: $black;
    visibility: visible;
    pointer-events: auto;
  }
}


/////////////////////
/// SCROLLBAR
/////////////////////

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {

}

* {
  scrollbar-width: thin;
  scrollbar-color: $black $gray-01;
}


/////////////////////
/// INPUTS
/////////////////////

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
.range-values input::-webkit-outer-spin-button,
.range-values input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"], {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}

input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Убирает стандартный стиль в Firefox */
}

.input {
  color: $black;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding: 22px 20px;

  &::placeholder {
    color: $gray-03;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    transition: $transition;
  }

  &:focus::placeholder {
    color: $black;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }

  &.input--white {
    background: $white;
  }

  &.input--gray {
    background: $gray-01;
  }
}

.custom-checkbox {
  @include flexAlignCenter;
  gap: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $black;
  line-height: 160%;
  padding-left: 30px;
  cursor: pointer;
  position: relative;

  @include breakpoint(lg) {
    height: fit-content;
  }

  span {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid $black;
    @include flexAlignCenter;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      content: "";
      display: none;
      width: 18px;
      height: 18px;
      position: absolute;
      background: url("../icons/icon_check--black.svg");
      top: calc(50% - 1px);
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & input:checked ~ span {
    border: 1px solid $black;

    &:after {
      display: block;
    }
  }
}



/////////////////////
/// BUTTONS
/////////////////////

.btn {
  @include flexCenterCenter;
  cursor: pointer;
  transition: $transition;
  font-family: "Druk Cyr", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  &.btn--brand {
    background-color: $brand;
    color: $black;

    &:hover {
      background: $hover;
    }
  }

  &.btn--gray {
    background-color: $gray-01;
    color: $black;

    &:hover {
      background: $gray-02;
    }
  }

  &.btn--black {
    background-color: $black;
    color: $white;

    &:hover {
      background: $gray-04;
    }
  }
}


/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}


/////////////////////
/// ICONS
/////////////////////


/////////////////////
/// OTHERS
/////////////////////

image, svg, video {
  width: 100%;
  height: 100%;
}

section + section {
  margin-top: 80px;

  @include breakpoint(md) {
    margin-top: 100px;
  }

  @include breakpoint(lg) {
    margin-top: 120px;
  }

  @include breakpoint(xl) {
    margin-top: 160px;
  }
}

/////////////////////
/// CARDS & CATALOG
/////////////////////


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1 {
  margin-bottom: 40px;

  @include breakpoint(lg) {
    margin-bottom: 60px;
  }
}

h1, h2, h3, h4, h5, h6, .h3-title, .h5-title, .section-title, .h4-title {
  font-family: "Druk Cyr", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  span {
    color: $brand;
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
  }
}

h1, h2, .section-title {
  font-size: 42px;

  @include breakpoint(md) {
    font-size: 60px;
  }

  @include breakpoint(lg) {
    font-size: 72px;
  }

  @include breakpoint(xl) {
    font-size: 87px;
  }
}

h3, .h3-title {
  font-size: 24px;

  @include breakpoint(md) {
    font-size: 36px;
  }

  @include breakpoint(lg) {
    font-size: 42px;
  }

  @include breakpoint(xl) {
    font-size: 52px;
  }
}

h4, .h4-title {
  font-size: 20px;

  @include breakpoint(md) {
    font-size: 28px;
  }

  @include breakpoint(lg) {
    font-size: 32px;
  }

  @include breakpoint(xl) {
    font-size: 40px;
  }
}

h5, .h5-title {
  font-size: 24px;

  @include breakpoint(lg) {
    font-size: 30px;
  }
}

.section-title {
  margin-bottom: 40px;

  @include breakpoint(lg) {
    margin-bottom: 60px;
  }

  span {
    color: $brand;
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
  }
}


/////////////////////
/// SWIPER SLIDER
/////////////////////

.swiper-nav {
  pointer-events: none;
  &.swiper-nav--gray {
    .button-prev, .button-next {
      background: #FEFEFE4D;

      &:hover {
        background: #FEFEFE66;
      }
    }

    .button-prev {
      &:before {
        background: url("../icons/icon_chevron-left--white.svg");
      }
    }

    .button-next {
      &:before {
        background: url("../icons/icon_chevron-right--white.svg");
      }
    }
  }

  &.swiper-nav--yellow {

    .button-prev, .button-next {
      background: $brand;

      &:hover {
        background: $hover;
      }
    }

    .button-prev {
      &:before {
        background: url("../icons/icon_chevron-left--black.svg");
      }
    }

    .button-next {
      &:before {
        background: url("../icons/icon_chevron-right--black.svg");
      }
    }
  }

  .button-prev, .button-next {
    width: 60px;
    height: 60px;
    pointer-events: auto;
    transition: $transition;
    cursor: pointer;
    @include flexCenterCenter;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }


}
